In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import zipfile
# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

In [6]:
# File to Load (Remember to Change These)
file = "Health.csv"

# Read Life Expectancy File and store into Pandas data frame
healthdf = pd.read_csv(file)

healthdf.head()

,measure_id,measure_name,location_id,location_name,FIPS,sex_id,sex,age_id,age_name,year_id,metric,val,upper,lower
0,26,Life expectancy,572,Wisconsin,55,1,Male,161,0,1980,Years,71.671637,71.775554,71.556712
1,26,Life expectancy,572,Wisconsin,55,1,Male,161,0,1981,Years,72.014938,72.123526,71.911791
2,26,Life expectancy,572,Wisconsin,55,1,Male,161,0,1982,Years,72.392483,72.496268,72.294562
3,26,Life expectancy,572,Wisconsin,55,1,Male,161,0,1983,Years,72.553415,72.660701,72.444574
4,26,Life expectancy,572,Wisconsin,55,1,Male,161,0,1984,Years,72.668842,72.777192,72.560710

In [7]:
#drops years that are not 2014
healthdf.drop(healthdf.index[healthdf['year_id'] != 2014], inplace = True)
#drop mortality risk
healthdf.drop(healthdf.index[healthdf['measure_name'] != 'Life expectancy'], inplace = True)
healthdf.head()

,measure_id,measure_name,location_id,location_name,FIPS,sex_id,sex,age_id,age_name,year_id,metric,val,upper,lower
34,26,Life expectancy,572,Wisconsin,55,1,Male,161,0,2014,Years,77.654684,77.754006,77.559289
69,26,Life expectancy,572,Wisconsin,55,2,Female,161,0,2014,Years,81.898503,81.982344,81.810366
104,26,Life expectancy,572,Wisconsin,55,3,Both,161,0,2014,Years,79.791265,79.857729,79.727804
139,26,Life expectancy,3670,Adams County,55001,1,Male,161,0,2014,Years,75.224196,76.083217,74.364600
174,26,Life expectancy,3670,Adams County,55001,2,Female,161,0,2014,Years,81.036637,81.817024,80.282969

In [8]:
#Pivot Table of Data Frame
healthpivot = pd.pivot_table(healthdf,index=['FIPS','location_name','sex'],
                                       values=['val'],
                                       aggfunc={'val':np.mean})
#show lowest life
# healthpivot = healthpivot.nsmallest(5,'val')
#rename columns
healthpivot.rename(columns={'FIPS':'FIPS','location_name':'Location','sex':'Sex','val':'Value'},
                           inplace=True)
healthpivot

                                    Value
FIPS  location_name     sex
55    Wisconsin         Both    79.791265
                        Female  81.898503
                        Male    77.654684
55001 Adams County      Both    77.768348
                        Female  81.036637
                        Male    75.224196
55003 Ashland County    Both    77.686777
                        Female  80.386521
                        Male    75.221359
55005 Barron County     Both    79.580370
                        Female  81.817434
                        Male    77.404019
55007 Bayfield County   Both    79.907251
                        Female  81.991371
                        Male    78.039389
55009 Brown County      Both    80.593416
                        Female  82.474285
                        Male    78.609632
55011 Buffalo County    Both    80.024899
                        Female  82.480065
                        Male    77.858930
55013 Burnett County    Both    79.077883
                        Female  81.799585
                        Male    76.693836
55015 Calumet County    Both    80.343118
                        Female  82.463513
                        Male    78.283078
55017 Chippewa County   Both    80.137863
                        Female  82.226321
                        Male    78.184628
...                                   ...
55123 Vernon County     Both    80.021415
                        Female  82.301682
                        Male    77.834567
55125 Vilas County      Both    79.594928
                        Female  81.966351
                        Male    77.446545
55127 Walworth County   Both    79.571486
                        Female  81.271442
                        Male    77.856221
55129 Washburn County   Both    78.288013
                        Female  81.143867
                        Male    75.610243
55131 Washington County Both    81.235000
                        Female  83.144557
                        Male    79.278040
55133 Waukesha County   Both    81.546892
                        Female  83.177158
                        Male    79.789266
55135 Waupaca County    Both    78.033637
                        Female  81.541819
                        Male    75.007037
55137 Waushara County   Both    79.221392
                        Female  81.873004
                        Male    76.998092
55139 Winnebago County  Both    80.243602
                        Female  82.158241
                        Male    78.279242
55141 Wood County       Both    80.829806
                        Female  83.123149
                        Male    78.518816

[219 rows x 1 columns]

In [14]:
a = healthpivot['Value'].idxmax()

In [22]:
healthdf.loc[healthdf['location_name'] == 'Washburn County']

,measure_id,measure_name,location_id,location_name,FIPS,sex_id,sex,age_id,age_name,year_id,metric,val,upper,lower
6964,26,Life expectancy,3624,Washburn County,55129,1,Male,161,0,2014,Years,75.610243,76.468624,74.741525
6999,26,Life expectancy,3624,Washburn County,55129,2,Female,161,0,2014,Years,81.143867,81.889544,80.294101
7034,26,Life expectancy,3624,Washburn County,55129,3,Both,161,0,2014,Years,78.288013,78.881593,77.677549